
  <div class="row">
    <div class="col-3">
      <ul>
        <li> Name: <%= @beer.name %></li>
        <li> Category: <%= @beer.category %></li>
      </ul>
    </div>
    <div class="col-3">
      <ul>
        <li> Brewer: <%= @beer.brewer %></li>
        <li> Country: <%= @beer.country %></li>
      </ul>
    </div>
    <div class="col-6">
      <img src="<%= @beer.image_url%>" alt="Picture of beer">
    </div>
  </div>



